
.divider-danger{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    background: url(../img/dividerxxl.jpg) center no-repeat;
    position: absolute;
    
    
}

.footer-content{
    background-color: var(--color-black-mate); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    box-shadow: 0px 0px 15px #FFFF;
}
 
.footer div li a{
    color: white;
    margin: 5px;
    box-shadow: inset 0 0 0 0 gold;
  
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.footer div li a:hover {
    box-shadow: inset 1100px 0 0 0 red;
    color: white;
    
  }

.list-inline-item a{
    color: var(--color-white);
    text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #ffff;
}

.list-inline-item a:hover{
    color: var(--color-chicago-red);
    text-shadow: 1px 1px 5px #000, 0 0 10px var(--color-chicago-red), 0 0 20px #ffff;
}

.footer-copyright a{
    color: var(--color-chicago-red);
    text-shadow: 1px 1px 5px #000, 0 0 10px var(--color-chicago-red), 0 0 20px #ffff;
}
