.sticker-card-1{
    background-color: #fff;
    height: 100px;
    width: 100px;
}
.sticker-card-2{
    background-color: #fff;
    height: 100px;
    width: 100px;
}
.container-sticker-card-1{
    background-color: #fff;
    height: 100px;
    width: 100px;


    
}

.container-sticker-card-2{
    background-color: #fff;
    height: 100px;
    width: 160px;
    top: 0%;
    left: 0%;
}
