@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

html,
body {
  height: 100%;
  background-color: var(--color-five);

}


header {   
    background: var(--gradiant-one); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;   
    box-shadow: 5px 10px 18px var(--color-ten);
}

    a img {
        
        border: 2px solid var(--letter-white);
        background-image: url("../img/morty2.png");
        background-repeat: no-repeat;
        background-color: var(--color-eigth);
        transition: 2s;
    }

    a img:hover {
        background-image: url("C:/Users/santi/OneDrive/Escritorio/portafolio git/CONTAINERS/img/morty.png");
        box-shadow: 5px 10px 18px var(--color-ten);
    }

    .nav-up{
        border-bottom: 2px solid var(--letter-white);
        border-radius: 5px;
    }

    .nav-down{
        height: 50px;
    }

    .navbar-toggler{
        border: 3px solid var(--letter-white);
        height: 50px;
        text-decoration: none;
        box-shadow: 5px 10px 40px var(--color-ten);
    }
    .navbar-toggler:focus{
        box-shadow: 5px 10px 40px var(--color-ten);
    }

    .navbar-toggler i{
        color: var(--color-eleven);
        font-size: 30px;
    }

   