@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/*  RESSET AL BODY Y DEFINICION DE FUENTE    */ 
html,
body {
  background-color: var(--color-five);
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}


/*  MARGIN TOP & BOTTOM*/ 
.mtb-1{
  margin: 50px 0  50px 0;
}


/* CUSTOM FONT SIZE*/ 

.font-30{
  font-size: 30px;

}

.font-20{
  font-size: 20px;

}

.font-10{
  font-size: 10px;

}
 


 
 