.flyer-principal {
  height: 400px;
  overflow: hidden;
  margin: 50px 0px 50px 0px;
  box-shadow: 0px 0px 20px 10px var(--color-nine);
  font-family: 'Inconsolata', monospace;
  background: var(--gradiant-one);
  border-radius: 30px;
  color: var(--color-c1);
  font-size: 20px;
}

.flyer-principal .title-left {
  top: 70px;
  color: white;
}

.flyer-principal .content-left {
  top: 130px;
  color: white;

}

.flyer-principal .flyer-buton {
  border: 1px solid white;
  top: 290px;
  border-radius: 10px;
  color: white;
}

.img-flyer {
  width: 300px;
  /* padding: 100px 0px 100px 0px ; */
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  top: 180px;

}

.img-flyer2 {
  width: 322px;
  /* padding: 100px 0px 100px 0px ; */
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

}