:root{
    --color-one: rgb(202, 191, 171);
    --color-two: rgb(223, 216, 200);
    --color-three: rgb(65, 68, 75);
    --color-four: rgb(82, 87, 93);
    --color-white: rgba(255, 255, 255, 0.986);

    --color-five: rgb(34, 87, 122);
    --color-six: rgb(56, 163, 165);
    --color-seven: rgb(87, 204, 153);
    --color-eight: rgb(128, 237, 153);
    

    --color-nine: rgb(62, 199, 11);
    --color-ten: rgb(161, 73, 250);
    --color-eleven: rgb(251, 223, 7);
    --color-twelve: rgb(255, 74, 74);



    --color-c1: rgb(86, 43, 8);
    --color-c2: rgba(61, 199, 11, 0.705);


    --gradiant-one: linear-gradient(to right, #78ffd6, #a8ff78);
    --gradiant-one: linear-gradient(to right, #78ffd6, #a8ff78);

    
}
.martini{
    background: #FDFC47;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sin-city{
    background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}