
.footer-content{
    box-shadow: 0px 0px 20px 10px var(--color-nine);  
    font-family: 'Inconsolata', monospace;
    background: var(--gradiant-one); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px 3px 0px 0px ;   
    color: var(--color-c1);
    font-size: 20px;
}

.footer-copyright{
    
    color: var(--color-c1);
}

.p-footer{
    color: var(--color-five);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
}

.title-footer{
    color: var(--color-c1);
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: bold;
}